{% extends 'layout.html' %}

{% block title %}Mailed results{% endblock %}
{% block navbar %}
{% endblock %}
{% block app_content %}
    {{ body }}
    <h4>Mailed Results</h4>

    <table class="table table-hover">
      <th><strong>Name</strong></th>
      <th><strong>Address</strong></th>
      <th><strong>City</strong></th>
      <th><strong>State/Province</strong></th>
      <th><strong>Zip Code</strong></th>
      <th><strong>Stars</strong></th>
      <th><strong>Review Count</strong></th>
      <th><strong>Categories</strong></th>
{#
      {% for name, address, city, state, postal_code, stars, review_count,
        categories in lists %}
      <tr>
      <td>{{ name }}</td>
      <td>{{ address }}</td>
      <td>{{ city }}</td>
      <td>{{ state }}</td>
      <td>{{ postal_code }}</td>
      <td>{{ stars }}</td>
      <td>{{ review_count }}</td>
      <td>{{ categories }}</td>
      </tr>
      {% endfor %} #}
      {% for x in test %}
      <tr>{{ x }}</tr>
      {% endfor %}
    </table>
{% endblock %}
