{% extends 'bootstrap/base.html' %}

{% block head %}
{% endblock %}

{% block navbar %}
{{super()}}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
              <a href="{{ url_for('search') }}">Search</a>
              <a href="{{ url_for('new_restaurant') }}">Add</a>
              <a href="{{ url_for('edit') }}">Edit</a>
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
<link rel='stylesheet'
          href="{{url_for('.static', filename='custom.min.css')}}">
{% endblock %}
