{% extends 'layout.html' %}
{% block title %}Add Restaurant{% endblock %}
{% block app_content %}
    <div class="container">
      <h1>Add</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br>
        <form name='Add' value='new_restaurant' method='post' role='form'>

        <label for='name'>Name</label>
        <input type="text" class='form-control' placeholder="" name="name" value="{{
          request.form.name }}">

          <label for='address'>Address</label>
          <input type="text" class='form-control' placeholder="" name="Address" value="{{
            request.form.address}}">

        <label for='city'>City</label>
        <input type="text" class='form-control' placeholder="e.g. Queens" name="City" value="{{
          request.form.city}}">

        <label for='state'>State</label>
        <input type="text" class='form-control' placeholder="" name="State" value="{{
            request.form.state }}">

        <label for='zip_code'>Zip Code</label>
        <input type="text" class='form-control' placeholder="" name="zip code"
        value="{{ request.form.zip_code }}">

        <label for='categories'>Categories</label>
        <input type="text" class='form-control' placeholder="e.g. Sushi, Meat, and Italian" name="categories"
        value="{{ request.form.categories }}">

        <input class="btn btn-default" type="submit" value="Add">
      </form>
        {% if error %}
       <p class="error"><strong>Error:</strong> {{ error }}
     {% endif %}
    </div>
{% endblock %}
