{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block body %}
    <h1>Search</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% from '_formhelpers.html' import render_field %}
    <form method='post'>
      <dl>
        {{ render_field(form.select) }}
        {{ render_field(form2.select) }}
        <p>
        {{ render_field(form.search) }}
      </dl>
      <p><input type=submit value=Search>
    </form>
{% endblock %}
